body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
}

#extrato {
    background-color: #ffffcc; /* fundo amarelo claro */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

h2, h3 {
    text-align: center;
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

p, table {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tfoot td {
    font-weight: bold;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.8em;
}
